*{padding: 0;margin: 0;}
html,body{
    margin:0px;
    height:100%;
}
ul li {
	list-style-type:none;
}
a {
	text-decoration:none;
	color:#333
}
body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background:url(../images/loginbg.jpg) center center;
	background-size:cover;
	overflow:hidden;
}
.main-login{
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}
.login-logo{
	width:520px; 
	height:190px;
	background:url(../images/logo.png) no-repeat center center;
	margin-left:auto;
	margin-right:auto;
}
.login-content{
	background: white;
	margin-left:auto;
	margin-right:auto;
}
/* 小型设备（平板电脑，768px 起） */
@media all and (max-width: 991px){
.login-content{
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50%; 
   margin-left: -400px;
}



.header {
	height:50px;
	border-bottom:1px solid #e2e2e2;
	position:relative;
	font-family:"Microsoft Yahei";
}
.header .switch {
	height:45px;
	position:absolute;
	bottom:0;
	font-size:16px;
}
.header .switch #switch_qlogin {
	display:inline-block;
	width: 400px;
	text-align: center;
}
.header .switch .switch_btn {
	text-align: center;
	color:#999;
	display:inline-block;
	height:45px;
	line-height:45px;
	width: 400px;
	outline:none;
	*hide-focus:expression(this.hideFocus=true);
}
.header .switch .switch_btn_focus {
	color:#333;
	display:inline-block;
	width: 400px;
	height:45px;
	line-height:45px;
	outline:none;
	text-align: center;
	*hide-focus:expression(this.hideFocus=true);
}
.header .switch .switch_btn:hover {
	color:#333;
	text-decoration:none;
}
.header .switch .switch_btn_focus:hover {
	text-decoration:none;
}
#switch_bottom {
	position:absolute;
	bottom:-1px;
	border-bottom:2px solid #FBB033;
}
.signup .form_p{
	width: 800px;
	height: 40px;
	padding-top: 6px;
	border-bottom: solid #D6D6D6 1px;
}
.signup .form_p span{
	font-size: 14px;
	line-height: 40px;
	text-align: left;
	padding-left: 40px;
	padding-right: 10px;
	display: inline-block;
	height: 40px;
	background-size: 22px 27px;
	font-family:"Hiragino Sans GB", "Microsoft Yahei";
	color: #4E5465;
}
.signup .form_p input{
	position: relative;
	width: 70%;
	height: 30px;
	border: none;
	font-size: 16px;
	font-family:"Hiragino Sans GB", "Microsoft Yahei";
}

}


@media all and (min-width: 992px){

.header {
	height:50px;
	border-bottom:1px solid #e2e2e2;
	position:relative;
	font-family:"Microsoft Yahei";
}
.header .switch {
	height:45px;
	position:absolute;
	bottom:0;
	font-size:16px;
}
.header .switch #switch_qlogin {
	display:inline-block;
	width: 262px;
	text-align: center;
}
.header .switch .switch_btn {
	text-align: center;
	color:#999;
	display:inline-block;
	height:45px;
	line-height:45px;
	width: 262px;
	outline:none;
	*hide-focus:expression(this.hideFocus=true);
}
.header .switch .switch_btn_focus {
	color:#EFAD0E;
	display:inline-block;
	width: 262px;
	height:45px;
	line-height:45px;
	outline:none;
	text-align: center;
	*hide-focus:expression(this.hideFocus=true);
}
.header .switch .switch_btn:hover {
	color:#333;
	text-decoration:none;
}
.header .switch .switch_btn_focus:hover {
	text-decoration:none;
}
#switch_bottom {
	position:absolute;
	bottom:-1px;
	border-bottom:2px solid #FBB033;
}
.signup .form_p{
	width: 530px;
	height: 40px;
	padding-top: 6px;
	border-bottom: solid #D6D6D6 1px;
}
.signup .form_p span{
	font-size: 14px;
	line-height: 40px;
	text-align: left;
	padding-left: 40px;
	padding-right: 10px;
	display: inline-block;
	height: 40px;
	background-size: 22px 27px;
	font-family:"Hiragino Sans GB", "Microsoft Yahei";
	color: #4E5465;
}
.signup .form_p input{
	position: relative;
	width: 70%;
	height: 30px;
	border: none;
	font-size: 16px;
	font-family:"Hiragino Sans GB", "Microsoft Yahei";
}

}


::-webkit-input-placeholder{ color:#C2C2C2;font-size: 14px;}  
/*Mozilla Firefox 4 to 18*/  
:-moz-placeholder{ color:#C2C2C2;font-size: 14px; opacity:1;}  
/*Mozilla Firefox 19 +*/  
::-moz-placeholder{ color:#C2C2C2;font-size: 14px; opacity:1;}  
/*Internet Explorer 10 +*/  
:-ms-input-placeholder{ color:#C2C2C2;font-size: 14px;}  


.person_tu{background:url(../images/arrow.png) 10px 6px no-repeat;}
.user_tu{background:url(../images/user.png) 10px 6px no-repeat;}
.password_tu{background:url(../images/password.png) 10px 6px no-repeat;}
.password_tu2{background:url(../images/password.png) 10px 6px no-repeat;}
.number_tu{background:url(../images/phone.png) 10px 6px no-repeat;}
.num_tu{background:url(../images/captcha.png) 10px 6px no-repeat;}

#num_ma{width: 64%;}
.num_ma_a{
	width: 85px;
	height: 24px;
	padding: 4px 10px;
	background-color: #EBAF0E;
	color: white;
	font-size: 14px;
	line-height: 24px;
	margin-left: 4px;
	border-radius: 5px;
	cursor: pointer;
}
.signup_btn{position: relative;}
.signup_btn button{
	background-color: #EFAD0E;
	border-radius: 8px;
	border: none;
	display: block;
	height: 34px;
	width: 98%;
	margin:20px auto 0;
	color: white;
	font-size: 18px;
}

#login-page{display: none;}

.form_p2{
	position: relative;
	margin-top: 10px;
}
.signup_bottom{
	width: 98%;
	margin: 0 auto;
}
.free_signup{
	color: #EBAF0E;
	float: left;
}
.forget_password{
	color: #EBAF0E;
	float: right;
}
.clear_tu{
	cursor: pointer;
	position: absolute;
	right: -10px;
	top: 10px;
	background: url(../images/clear.png) no-repeat;
}
.eye_tu{
	cursor: pointer;
	position: absolute;
	right: -10px;
	top: 10px;
	background: url(../images/eyeoff.png) no-repeat;
}
.eyeoff{
	background: url(../images/eyeoff.png) no-repeat;
}
.eyeon{
	background: url(../images/eyeon.png) no-repeat;
}